In [1]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [5]:
def my_function(fname):
    print(fname)
my_function("Emil")
my_function("Tobais")
my_function("Linus")

Emil
Tobais
Linus

In [6]:
#Number of arguments 
def my_function(fname,lname):
    print(fname,lname)
my_function("Emil","Rafsnes")

Emil Rafsnes

In [7]:
#Number of arguments 
def my_function(fname,lname):
    print(fname,lname)
my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [11]:
#Arbitrary Arguments, *args
def my_function(*name):
    print("The name of child is: "+name[0])
my_function("Emil","Tobias","Linus")

The name of child is: Emil

In [15]:
#Keyword Arguments
def my_function(child1,child2,child3):
    print("The Youngest child is: ",child1,child2,child3)
my_function(child1="Emil",child2="Tobais",child3="Linus")

The Youngest child is:  Emil Tobais Linus

In [16]:
#Default Parameter Value
def my_function(country="Bangladesh"):
    print("I am from ", country)
my_function("Swedwn")
my_function("India")
my_function()
my_function("Srilanka")

I am from  Swedwn
I am from  India
I am from  Bangladesh
I am from  Srilanka

In [17]:
#Passing a list as an Arguments
def my_function(food):
    for x in food:
        print(x)
fruits=["Apple","Banana","Cherry"]
my_function(fruits)

Apple
Banana
Cherry

In [18]:
#Return Values
def my_function(x):
    return 5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [8]:
def tri_recursion(k):
      if(k>0):
          result=k+tri_recursion(k-1)
          print(result)
      else:
          result=0
      return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [9]:
#pYTHON lAMBDA
#lambda arugemts : expression
x=lambda a:a+10
print(x(5))

15

In [10]:
#Multiple argument a with argument b and retrun the result
x=lambda a,b:a*b
print(x(5,6))

30

In [11]:
#Summarize argument a, b and c and return the result:
x=lambda a,b,c:a+b+c
print(x(5,6,2))

13

In [12]:
#Python Classes and Objects:
class MyClass:
    x=5
p1=MyClass()
print(p1.x)

5

In [13]:
# The _init_() Function
#Create a class named Person, Use the _init_() function to assign values for name and age
class person:
    def _init_(Self,name,age):
        self.name=name
        self.age=age
p1=person("John", 36)
print(p1.name)
print(p1.age)

TypeError: person() takes no arguments